.mycanvas {
    position: relative;
    border: 0px solid yellow;
    height: 100%;
    width: fit-content;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
}

.canvas {
    border: 0px solid black;
    box-sizing: border-box;
    cursor: crosshair;
}

.canvas1{
    position: relative;
    z-index: 5;
}

.canvas2 {
    position: absolute;
    top: 0;
    left: 0;
    border: 0px solid greenyellow;
    z-index: 4;
    box-sizing: border-box;
}

.canvas3{
    z-index: 3;
}