.home a{
    position: absolute;
    left: 250px;
    top: 450px;
    padding: 15px 25px 15px 25px;
    background-color: rgb(244, 196, 48);
    border-radius: 15px;
    font-weight: 600;
    font-size: 1.1rem;
}