.navbar{
    border: 0px solid red;
    position: sticky;
    top: 0;
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    height: 100px;
    max-height: 100px;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10px;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.1rem;
    /* background-color: white; */
    box-shadow: 10px 5px 5px rgb(206, 206, 206);
    z-index: 10;
    color: rgb(244, 196, 48);;
}

.navbar_right
{
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
}

.navbar_left
{
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
}

.navbar a{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}


a.active{
    background-color: rgb(244, 196, 48);
    padding: 10px 20px 10px 20px;
    margin-bottom: -10px;
    border-radius: 15px;
    color: black;
}