.workspace{
    position: relative;
    border: 0px solid blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    background-color: white;
}

.canvas_header{
    position: absolute;
    top: 5px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 20px 0px 10px;
    border: 0px solid orchid;
    align-items: center;
    /* z-index: 8; */
}

.disable{
    opacity: 0.5;
}

.tools{
    position: relative;
    display: flex;
    /* gap: 10px; */
    font-weight: 600;
    font-size: 1.5rem;
    z-index: 9;
    border: 0px solid magenta;
    padding: 0 20px;
}

.canvas_container{
    border: 0px solid red;
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
}

.tool_option{
    /* cursor: pointer; */
}

.colors {
  display: flex;
  align-items: center;
  z-index: 9;
}

.color-circle {
  /* width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer; */
  /* margin: 0 5px; */
  /* cursor: pointer; */
}

.grid{
    width: 240px;
    z-index: 9;
}

.fullscreen_toggle{
    position: absolute;
    z-index: 9;
    right: 20px;
    bottom: 10px;
}

.share-button{
    margin-left: 10px;
}