.workspace{
    border: 2px solid blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.canvas_header{
    
}

.canvas_container{
    border: 2px solid red;
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
}
