.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    /* background: url("./assets/bg5_home.png") no-repeat; */
    background-size:100% 100%;
    /* overflow: hidden; */
}

a{
    all: unset;
}

main{
    display: flex;
    flex: 1;
    border: 2px solid green;
    box-sizing: border-box;
    overflow: auto;
}

**{
    box-sizing: border-box;
}